####################################
# OS
####################################
.DS_Store
Thumbs.db

####################################
# Android Studio / IntelliJ
####################################
.idea/
*.iml
*.ipr
*.iws
.idea_modules/

####################################
# Gradle
####################################
.gradle/
build/
**/build/

####################################
# Local config
####################################
local.properties

####################################
# APK / AAB / Dex
####################################
*.apk
*.aab
*.ap_
*.dex

####################################
# Keystore (MUHIM!)
####################################
*.jks
*.keystore
*.pem

####################################
# Logs
####################################
*.log
logcat.txt

####################################
# Cache / Temp
####################################
*.tmp
*.temp
*.bak
*.old
.cache/
tmp/
temp/

####################################
# BatchApkTool / Apktool
####################################
*_bak/
backup/
framework/
dist/
out/
decoded/
unsigned/
signed/

####################################
# Smali / build leftovers
####################################
smali/
smali_classes*/
original/
META-INF/

####################################
# Firmware / Images
####################################
*.img
*.bin
*.mbn
*.elf
*.lz4
*.sparse
super.img
boot.img
vendor.img
system.img
product.img

####################################
# ADB / Fastboot
####################################
adbkey
adbkey.pub

####################################
# Python
####################################
__pycache__/
*.pyc

####################################
# Node.js (agar ishlatsang)
####################################
node_modules/

####################################
# VS Code
####################################
.vscode/

####################################
# Secrets
####################################
.env
.env.*
venv/
__pycache__/

